main {
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;

  section {
    height: 100%;
    width: 100%;
  }

  .conversation-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .messages {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
      padding: 0.5em;
      padding-bottom: 4rem;

      .message {
        width: fit-content;
        padding: 0.5em 1em;
        background-color: #4a4a4a;
        border-radius: 0.5em;
        color: rgb(248, 244, 233);
        max-width: 75%;

        &.user {
          align-self: flex-end;
        }
      }
    }

    .input-area {
      width: 70%;
      position: absolute;
      background-color: #3c3c3c;
      border: 1px solid #3c3c3c;
      border-radius: 0.5rem;
      bottom: 2rem;

      input {
        width: 80%;
        padding: 0.5rem 0.7rem;
        outline: none;
        border-radius: 0.5rem;
        background-color: transparent;
        border: none;
        color: rgb(227, 224, 224);
      }

      button {
        width: 20%;
        padding: 0.5rem 0.7rem;
        border: none;
        background-color: #161616;
        border-radius: 0.45rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}
